.home{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.home-section button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(28, 25, 25);
    color: rgb(255, 240, 240);
    font-size: large;
    font-family:monospace;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-section button:hover{
    background-color: rgba(18, 18, 18, 0.883);
}

.home-section .projects{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.home-section .project{
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.938);
    border-radius: 0.5rem;
}