@import 'tailwindcss';

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}
